@import url("https://fonts.googleapis.com/css2? family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@300;400;500&display=swap");
@import "./colors.scss";
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
​ .container {
  position: relative;
  width: 100%;
  margin: 0 auto !important;
}
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  position: relative;
}
/*LOADER*/

.loaderContainer {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
.loaderContent {
  top: 0px;
  bottom: 0px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  animation: cssAnimation 0s 1.3s forwards;
  visibility: visible;
}
@keyframes cssAnimation {
  to {
    visibility: hidden;
  }
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $lightGreenColor;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
}
.d2 {
  animation-delay: 0.05s;
  background: $primaryColor;
}
.d3 {
  animation-delay: 0.1s;
  background: $secondaryColor;
}
@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
/*GENERAL*/
.logo {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin: 0;
  padding: 10px;
}
.colorWhite {
  color: $whiteColor;
  text-decoration: none;
}
.boldText {
  font-weight: 500;
}
.flexBetween {
  display: flex;
  justify-content: center;
  align-items: center;
}
.directionRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.textDecorationNone {
  text-decoration: none;
  color: $blackColor;
}
h3,
p {
  margin: 0;
}
/*CITY*/
.city {
  background-color: #eaeaea;
  color: #353535;
}
.cityTitle {
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
}
/*EXPLORER*/
.explorer {
  text-align: center;
  padding: 20px 20px;
  background-color: #f5f5f5;
}
.explorer p {
  font-weight: 300;
}
.button {
  width: 218px;
  height: 50px;
  color: $whiteColor;
  background: linear-gradient(0.64deg, $primaryColor -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 40px;
}
.button:hover {
  border: 2px solid $primaryColor;
}
/*TUTO*/
.tutoContainer {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}
.colorGreyTuto {
  color: #7e7e7e;
}
.colorGreyTuto :hover {
  color: $primaryColor;
}
.tutoButtonIcon {
  width: 15px;
}
.step {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: $primaryColor;
  color: $whiteColor;
  padding: 0.5rem;
  border-radius: 50%;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
}
.tutoButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background-color: #f5f5f5;
  width: 100%;
  height: 73px;
  font-weight: 500;
  margin-bottom: 25px;
}
.tutoButton:hover {
  background-color: #f5edff;
}
.tutoButton:hover .fa-solid {
  color: $primaryColor;
}
.tutoButtonText {
  margin-left: 23px;
}
/*MENUS*/
.menusContainer {
  background-color: #f5f5f5;
  padding: 30px 20px;
}
.card {
  position: relative;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
}
.heartLogo {
  color: black;
  position: absolute;
  font-size: 2rem;
  right: 1rem;
  top: 80%;
}
.marginTitleCubeMenus {
  margin-bottom: 5px;
}
.new {
  position: relative;
}
.new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #008766;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.imgMenus {
  object-fit: cover;
  width: 100%;
  height: 190px;
}
.cubeDetailMenus {
  padding: 12px;
}
.width25 {
  width: 33%;
  margin-right: 20px;
}
/*heart*/
.heart-container {
  position: absolute;
  right: 1rem;
  top: 80%;
}
.empty-heart {
  display: block;
}
.full-heart {
  display: none;
}
.heart-container:hover .empty-heart {
  display: none;
}
.heart-container:hover .full-heart {
  display: block;
}
.heart-gradient {
  opacity: 0;
  display: inline-block;
  transition: opacity 2s ease;
}
.heart-gradient:hover {
  opacity: 1;
}
/*FOOTER*/
.footerContainer {
  background-color: #353535;
}
.sizeBlocFooter {
  padding: 15px 20px;
  color: $whiteColor;
}
.logoFooter {
  width: 20px;
  height: 13px;
}
.marginFooter {
  display: flex;
  margin-bottom: 8px;
}
.marginLogoFooter {
  margin-left: 11px;
}
@media all and (min-width: 960px) {
  /*EXPLORER*/
  .titleExplorer {
    font-size: 40px;
  }
  /*TUTO*/
  .tutoTitle {
    margin-bottom: 30px;
  }
  .tutoButton {
    width: 31%;
  }
  .tutoButtonContainer {
    display: flex;
    justify-content: space-between;
  }
  .tutoContainer {
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
  }
  /*MENUS*/
  .menusContainer {
    overflow: hidden;
    padding: 30px 0;
  }
  .cardContainer {
    display: flex;
    justify-content: space-around;
  }
  .card {
    margin-left: 20px;
  }
  .menusDesktop {
    padding-left: 10%;
    margin-right: -200px;
  }
  /*FOOTER*/
  .positionDesktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 80px;
  }
  .marginFooter {
    margin: 0;
    margin-right: 45px;
  }
  .descriptionDesktop {
    display: flex;
    margin-right: 40px;
  }
}
